@tailwind base;
@tailwind components;
@tailwind utilities;


/* light and dark mode */
body {
    transition: background-color 0.2s ease;
  }
  
body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #121212;
  color: white;
}
  
b{
  font-weight: 500 !important;
}